<head>
</head>
<body>
  <% rec=@rec %>
  <% if 0 < rec %>
    <%= search_result = "検索結果" %>
    <%= search_result"#{rec}件" %>
    <p>検索結果を表示しています。</p>    
  <% end %>
  <% @books.each do |book| %>
  <%= link_to book.title%>
  <% end %>
</body>