<body>
  <section class="contents">
    <%= search_result = @result %>
    <% @books.each do |book| %>
      <% rec=@rec %>
      <div class="index_list">
        <%= link_to book.title,book_path(book) %>
      </div>
    <% end %>
  </section>
</body>