/*メニューバー*/

body {
  width: 100%;
  min-height: 100%;
}

.header-menu {
  font-style: normal;
  border-style: solid;
  width: 100%;
  background-color: #336699;
  color: white;
}

.header-title h2 {
  font-size: 15px;
  padding-left: 20px;
  display: inline;
}

.header-search {
  padding: 10px;
}

.header-list li {
  list-style: none;
  margin: 5px;
  display: inline-block;
}

.content h3 {
  padding: 10px;
}