/*メニューバー*/

body {
  width: 100%;
  min-height: 100%;
}

ul li {
  list-style: none;
}

.header_menu {
  font-style: normal;
  border-style: solid;
  width: 100%;
  background-color: #336699;
  color: white;
}

.header_title h2 {
  font-size: 15px;
  padding-left: 20px;
  display: inline;
  text-decoration: none;
  color: white;
}

.header_title a{
  text-decoration: none;
  color: white;
}

.header_search {
  padding: 10px;
}

.header_list li {
  margin: 5px;
  display: inline-block;
  color: white;
}

.header_list a{
  color: white;
}

.content h3 {
  padding: 10px;
}

